$height: 3vh;

.slider{
    width: 100%;
    height: $height;
    border-radius: 100px;
    background-color: rgb(167, 167, 167);
    display: flex;
    justify-content: start;
    overflow: hidden;
    .input{
        height: $height;
        border-radius: 100px;
    }
}